<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sem_Manager.My.MySettings.sem_db_systemConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=sem_db_system;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Sem_Manager.My.MySettings.bat_db_systemConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=bat_db_system;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Sem_Manager.My.MySettings.sem_db_system_rdf_moduleConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=sem_db_system_rdf_module;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Sem_Manager.My.MySettings.sem_db_home_reports_moduleConnectionString" connectionString="Data Source=vaipo\sqlexpress;Initial Catalog=sem_db_home_reports_module;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="C:\Users\tassilok\Documents\Development\Semantic\Modules\Sem - MediaViewer-Module;C:\Users\tassilok\Documents\Development\Semantic\Modules\Sem - Office-Module;C:\Users\tassilok\Documents\Development\Semantic\Modules\Filesystem-Management"/>
    </assemblyBinding>
  </runtime>
</configuration>
